NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://payalraghuvanshi03_db_user:Ts9DejozxGt12hgo@cluster0.qgymubk.mongodb.net/?appName=Cluster0
JWT_SECRET=khanlearn_jwt_secret_at_least_32_characters_long
JWT_REFRESH_SECRET=khanlearn_refresh_secret_32_chars_long
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
CLIENT_URL=http://localhost:5173
